<mat-toolbar class="fxLayout dark app-toolbar" style="width: 100%;height: 80px;flex-direction: row; justify-content: space-between;background-color: black ;color:ghostwhite;">
  <div class="fxLayout" style="flex-direction: row; align-items: center;">
    <mat-icon>shopping_bag</mat-icon>
    <span>&nbsp;BeefBeef</span>
  </div>
  <div class="fxLayout" style="flex-direction: row;align-items: center;">
    <mat-icon>home_app_logo</mat-icon>
    <button mat-flat-button style="background-color: black;color: ghostwhite;">Home</button>
  </div>

  <div class="fxLayout" style="flex-direction: row;align-items: center;">

    <mat-icon >logout</mat-icon>
    <button mat-flat-button style="background-color: black;color: ghostwhite;" (click)="logout()">LoginCustomer</button>

  </div>
</mat-toolbar>
