<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgetTDK</title>

</head>

<body>


<div class="box">
  <span class="borderLi"></span>
    <form>
      <h2 style="margin-top: -25px;">Reset your password</h2>
      <br>
      <p style="color: #fff;">Enter your email and we will send a link to reset your password</p>
      <br>
        <div class="fxLayout" style="flex-direction: column;justify-content: center;width: 100%;">
          <mat-form-field appearance="outline"color="accent"  >
            <mat-label >Email</mat-label>
            <input #ID1 matInput type="text">
          </mat-form-field>

      </div>
        <mat-card-actions class="fxLayout" style="flex-direction: row; justify-content: center; margin-top: 10px">
          <button mat-flat-button color="primary" style="width: 50%;border-color: #fff;" >Send</button>
        </mat-card-actions>


    </form>
</div>
</body>
</html>
