<h2 mat-dialog-title>Select Status</h2>
<mat-dialog-content>
 <br>
  <mat-form-field  appearance="outline">
    <mat-label>{{nowst}}</mat-label>
    <mat-select #sec >
      <mat-option value="1">Host</mat-option>
      <mat-option value="2">Referee</mat-option>
      <mat-option value="3">Athlete</mat-option>
    </mat-select>

  </mat-form-field>

  <!-- <div class="alert alert-primary fixed-top" style="top: 10%; left: 50%; transform: translate(-50%, -50%);">
    <div class="icon__wrapper">
      <mat-icon class="mdi mdi-alert-outline" style="color: white;"> cancel</mat-icon>
    </div>
    <p>You’ve assigned Owner of </p>
    <span class="mdi mdi-close close"></span>
  </div> -->



</mat-dialog-content>
<mat-dialog-actions style="justify-content: space-between;">
  <button mat-flat-button color="primary"  (click)="save(sec.value)">Save</button>
  <button mat-flat-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>
