<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginTDK</title>
</head>
<body>


<div class="box">
  <span class="borderLi"></span>
    <form>
      <img  style="margin-left: 100px;margin-top: -15px;margin-bottom: 5px;" src="https://img5.pic.in.th/file/secure-sv1/a832c74c-235a-4a1b-b9e0-0ef64fbf45c3.jpeg" alt="d0WJA59.png" width="100px"  />
      <h2>TDK compete</h2>

        <div class="inputBox">
          <input type="text" required="required" #ID1>
          <span>Email</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="password" required="required" #passs>
          <span>Password</span>
          <i></i>
        </div>
        <div class="links" style="margin-top: 10px;">
          <!-- <a  (click)="forget()" href="#">Forget Password</a> -->
          <a   routerLink="/forget">Forget Password</a>
          <a  routerLink="/register">Sign up</a>
          <i></i>
        </div>

        <mat-radio-group style="margin: 10px;" name="sta"    [(ngModel)]="sta" >
          <mat-radio-button color="primary" value="1" ><span style="color: #fff;">Host</span></mat-radio-button>
          <mat-radio-button color="primary" value="2"><span style="color: #fff;">Referee</span></mat-radio-button>
          <mat-radio-button color="primary" value="3"><span style="color: #fff;">Athlete</span></mat-radio-button>
        </mat-radio-group>

        <div style="margin-top: -5px;">
          <input type="button" value="Login"  (click)="log12(ID1.value,passs.value)">

        </div>

        <!-- <button type="submit">Login</button> -->

    </form>
    <div class="alert alert-warning fixed-top" *ngIf="nodata == true" (click)="Chnodata()"  style="top: 10%; left: 50%; transform: translate(-50%, -50%);">
      <div class="icon__wrapper">
        <mat-icon class="mdi mdi-alert-outline" style="color: white;font-family: 'Material Icons';">warning</mat-icon>
      </div>
      <p>Please enter a new email and password.</p>
      <p style="color: black;">click to close</p>

    </div>

</div>


</body>
</html>
