<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegisterTDK</title>
</head>
<body>
<div class="box" >
  <span class="borderLi"></span>
    <form>
      <h2 style="margin-top: -45px;">Register</h2>
      <div style="margin-top: 5px; width: 100%;height: 100%;">


        <div class="fxLayout inputBox" style="flex-direction: column;justify-content: center;">

          <mat-form-field appearance="outline"color="primary"  >
            <mat-label>Name</mat-label>
            <input #Name matInput type="text">
          </mat-form-field>


          <mat-form-field appearance="outline"color="primary"  >
            <mat-label>Email</mat-label>
            <input #email matInput type="text">
          </mat-form-field>

          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Password</mat-label>
            <input #pass matInput type="password">
          </mat-form-field>

          <mat-form-field appearance="outline" color="primary" class="inputBox">
            <mat-label>Phone</mat-label>
            <input #phone matInput   type="tel" pattern="[0-9]*" (keypress)="onlyNumbers($event)" >
          </mat-form-field>


            <mat-form-field appearance="outline" color="primary" class="inputBox">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="datepicker" [min]="minDate" [max]="maxDate"  #date readonly>
              <mat-datepicker-toggle matIconSuffix [for]="datepicker" style="color: black;"></mat-datepicker-toggle>
              <mat-datepicker #datepicker color="accent">
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" color="primary" class="inputBox">
              <mat-label>Gender</mat-label>
              <mat-select #gender>
                <mat-option value="man" color="#fff">ชาย</mat-option>
                <mat-option value="girl"color="#fff">หญิง</mat-option>

              </mat-select>
            </mat-form-field>

            <input class="customFile" #idcard style="color: #FFCDEA;margin-top: -15px;margin-bottom: 5px;" type="file" accept="image/*" capture >
              <!-- <div class="inputBox" style="display: flex;flex-direction: row;text-align: center;">
                <mat-label style="color: #FFCDEA;">IDcard</mat-label>
                <input style="margin-left: 10px;color: #FFCDEA;  " #idcard  type="file" accept=".pdf" capture>


              </div> -->



        </div>
      </div>

        <mat-card-actions class="fxLayout" style="flex-direction: row; justify-content: space-around; margin-top: 5px">
          <!--(click)="go(ID1.value,pass.value)" -->
          <button mat-flat-button color="primary" style="width: 45%;" (click)="register(Name.value,email.value,pass.value,phone.value,date.value,gender.value,idcard)">Sign</button>
          <button mat-flat-button color="warn" style="width: 45%;" routerLink="/">Back</button>
        </mat-card-actions>


    </form>
</div>
  <div class="alert alert-warning fixed-top" *ngIf="nodata == true" (click)="Chnodata()"  style="top: 10%; left: 50%; transform: translate(-50%, -50%);">
    <div class="icon__wrapper">
      <mat-icon class="mdi mdi-alert-outline" style="color: white;font-family: 'Material Icons';">warning</mat-icon>
    </div>
    <p>Please enter the information again.</p>
    <p style="color: black;">click to close</p>

  </div>


  <img class="fixed-top" src="https://img2.pic.in.th/pic/Infinity1x-1.0s-200px-200px-1.gif" alt="" *ngIf="noregis == true"
  style="width: 15%; left: 50%; transform: translate(-50%, 100%); border-radius: 20%;display: flex; align-items: center;"  >

</body>
</html>
