<div style="display: flex;flex-direction: column;height: 450px;width: 500px;margin: 20px;">

  <label >Order list</label>
  <label >Name</label>
  <input type="text" name="name" #name>
  <label >Phone</label>
  <input type="text" name="Phone" #ph>
  <label >address</label>
  <textarea name="address"  cols="30" rows="10" #address></textarea>

  <label >Order list</label>

  <div *ngFor="let pro of this.pordeer;let i =index">
    <!-- {{prt(this.pro.pid,this.pro.count)}} -->
    <div *ngIf="pro != undefined">
      <label >{{pro.name}}  <input type="number" name="count" #co [(ngModel)]="po[i]" (ngModelChange)="setc(i,co.value,pro.pid)" placeholder="x{{pro.count}}" ></label><label> {{pro.price*pro.count}} $</label><button  mat-button color="warn" (click)="del(i)">Delete</button>
    </div>
  </div>
  <label >Total : {{total}}</label>
  <button mat-flat-button color="primary" style="height: 45px;" (click)="order(name.value,ph.value,address.value)">confirm order</button>

  <button mat-flat-button color="warn"  style="height: 45px;"(click)="clo()">close</button>

  <!-- <button (click)="addN(name.value,detail.value,url.value,+country.value)">add</button>
  <button (click)="close()">close</button> -->

</div>
