<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened [position]="'start'" class="app-sidenav">
    <mat-icon *ngIf="sidenav.opened" (click)="animateSidenav()"class="collapse-sidenav  " >keyboard_backspace</mat-icon>

    <mat-nav-list style="margin-top: 100px;" >
      <mat-icon *ngIf="!sidenav.opened" class="expand-sidenav" (click)="animateSidenav()" style="margin-left: -10px;" >menu</mat-icon>
      <a  routerLink="/home">
        <!-- <a routerLink="/contact"></a> -->
        <hr>
        <mat-list-item>
          <mat-icon matListItemIcon style="color: white;">home</mat-icon>
          <div matListItemTitle style="color: white;">Home</div>
        </mat-list-item>
        </a>
        <a [routerLink]="['/home', { menu: 2 }]">
          <mat-list-item>
            <mat-icon matListItemIcon style="color: white;">person</mat-icon>
            <div matListItemTitle style="color: white;">Profile</div>
          </mat-list-item>
          </a>
          <a [routerLink]="['/home', { menu: 3 }]">
      <mat-list-item>
        <mat-icon matListItemIcon style="color: white;">checklist</mat-icon>
        <div matListItemTitle style="color: white;">MyList</div>
      </mat-list-item>
      </a>
      <a [routerLink]="['/home', { menu: 4 }]">
        <mat-list-item>
          <mat-icon matListItemIcon style="color: white;">groups</mat-icon>
          <div matListItemTitle style="color: white;">Propulation</div>
        </mat-list-item>
        </a>
        <hr>
      <div>

        <a routerLink="/">
          <mat-list-item>
            <mat-icon matListItemIcon style="color: white;">logout</mat-icon>
            <div matListItemTitle style="color: white;">Logout</div>
          </mat-list-item>
        </a>
        <hr>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: rgb(199, 152, 243);">
    <div class="card" style="width: 95%; padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    align-items: center;
    margin: 1.25rem;">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" style="width: 85%;">
      <mat-tab label="Profile">
        <div class="fxLayout" style="align-items: center;flex-direction: column;">
          <div style=" font-size: 1.5em;font-weight: bold;margin-bottom: 10px;letter-spacing: 0.1em;margin-top: 20px;"><h3>Profile</h3></div>
          <br>
          <div style="align-self: self-start; margin-left: 33%;width: 38%;">
            <div class="input-group" style="margin-top: 10px;">
              <span class="input-group-text" style="background-color: rgb(219, 219, 226);">Name</span>
              <input type="text" aria-label="First name" class="form-control">
            </div>
            <div class="input-group" style="margin-top: 10px;">
              <span class="input-group-text" style="background-color: rgb(219, 219, 226);">Place</span>
              <input type="text" aria-label="First name" class="form-control">
            </div>
            <div class="input-group" style="margin-top: 10px;">
              <span class="input-group-text" style="background-color: rgb(219, 219, 226);">Image</span>
              <input type="text" aria-label="First name" class="form-control">
            </div>
            <div class="input-group" style="margin-top: 10px;">
              <span class="input-group-text" style="background-color: rgb(219, 219, 226);">Contact</span>
              <input type="tel" aria-label="First name" class="form-control">
            </div>
            <div class="input-group" style="margin-top: 10px;">
              <span class="input-group-text" style="background-color: rgb(219, 219, 226);">Time</span>
              <input type="time" aria-label="First name" class="form-control">
            </div>
            <div class="input-group" style="margin-top: 10px;">
              <span class="input-group-text" style="background-color: rgb(219, 219, 226);">Date</span>
              <input type="date" aria-label="First name" class="form-control">
            </div>




            <button mat-flat-button color="primary" class="fxLayout" style="width: 50%;margin-top: 20px;align-items: center;margin-bottom: 10px;justify-content: center;">Save</button>
          </div>

      </div>
      </mat-tab>
      <mat-tab label="Athlete">
        <div class="fxLayout" style="align-items: center;flex-direction: column;">
          <div style=" font-size: 1.5em;font-weight: bold;margin-bottom: 10px;letter-spacing: 0.1em;margin-top: 20px;"><h3>Athlete</h3></div>
          <br>
          <div style="align-self: self-start; margin-left: 33%;width: 38%;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

      </div>
      </mat-tab>
      <mat-tab label="Image">
        <ng-template mat-tab-label>
          <img style="width: 30px;" src="https://img2.pic.in.th/pic/versus.png" alt="Image">
        </ng-template>
        Content 3
        <adn-single-elimination-tree
        [tournament]="myTournamentData"
        [matchTemplate]="myMatchTemplate">
        </adn-single-elimination-tree>

        <ng-template #myMatchTemplate let-match>

          <!-- <app-match [match]="match"></app-match> -->
         </ng-template>
         <div class="ngtt__match-wrapper">
          <div class="ngtt__team-wrapper" *ngFor="let team of match?.teams">
            <div class="ngtt__team-avatar"></div>
            <p  class="adn__team-title">{{team?.name}}</p>
            <div class="ngtt__team-score">{{team?.score}}</div>
          </div>
          </div>



      </mat-tab>
      <mat-tab label="Rank">
        <div class="fxLayout" style="align-items: center;flex-direction: column;">
          <div style=" font-size: 1.5em;font-weight: bold;margin-bottom: 10px;letter-spacing: 0.1em;margin-top: 20px;"><h3>Rank</h3></div>
          <br>
          <div style="align-self: self-start; margin-left: 33%;width: 38%;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>


              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>Edit</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="editRow(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
          </div>

      </div>
      </mat-tab>
      <mat-tab label="Referee">
        <div class="fxLayout" style="align-items: center;flex-direction: column;">
          <div style=" font-size: 1.5em;font-weight: bold;margin-bottom: 10px;letter-spacing: 0.1em;margin-top: 20px;"><h3>Referee</h3></div>
          <br>
          <div style="width: 30%;align-self: self-start; margin-left: 20%;" >

          <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput placeholder="EX. 09324" type="text">
          </mat-form-field>
        </div>
          <div style="align-self: self-start; margin-left: 33%;width: 38%;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="close">
                <th mat-header-cell *matHeaderCellDef>Cancel</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="editRow(element)">
                    <mat-icon>close</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>
          </div>

      </div>
      </mat-tab>
    </mat-tab-group>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
