

.sidenav-container {
  height: 100%;
}

.app-sidenav {
  width: 200px;
  background-color: #333;
  color: white;
}

a {
  margin: 5px 0;

  mat-icon {
    margin-right: 15px;
  }
}

.collapse-sidenav {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.expand-sidenav {
  position: absolute;
  top: 30px;
  right: 13px;
  cursor: pointer;
}

h1 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
table {
  margin-left: -35%;
  width: 200%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.input-group {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่ม drop shadow ด้านล่าง */
  border-radius: 8px; /* เพิ่มขอบโค้งสำหรับเงามีลักษณะธรรมชาติ */
  transition: box-shadow 0.3s ease, border-color 0.3s ease; /* เพิ่ม transition เมื่อเปลี่ยนแปลง */
  border: 2px solid rgb(225, 119, 235); /* เพิ่มสี border */
}

.input-group:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* สำหรับเมื่อนำเมาส์มา hover */

}


//
// COLORS
//

$ngtt-background-primary: #2B3E50;
$ngtt-accent-primary: goldenrod;
$ngtt-background-secondary: transparent;


//
// NgttTournament Tree Configuration
//

// tournament tree colors
$ngtt-background-color: $ngtt-background-primary !default;
$ngtt-line-color-main: $ngtt-accent-primary !default;
$ngtt-bracket-separator-color: $ngtt-background-secondary !default;
$ngtt-match-container-background: $ngtt-background-secondary;

//tree scaling
$ngtt-match-wrapper-width: 350px !default;
$ngtt-match-wrapper-height: 100px !default;
$ngtt-vertical-match-padding: 15px !default;
$ngtt-round-gutters: 25px !default;
$ngtt-bracket-border-radius: 0 !default;
$ngtt-bracket-line-width: 2px !default;


.ngtt-se__container {
  background-color: $ngtt-background-color;
  display: inline-block;
  box-sizing: border-box !important;
}

.ngtt-se__match-component-container {
  display: flex;
  height: $ngtt-match-wrapper-height;
  width: $ngtt-match-wrapper-width;
  background-color: $ngtt-match-container-background;
  box-sizing: border-box !important;
}

// winners bracket
.ngtt-se__bracket-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box !important;
}

.ngtt-se__round-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: $ngtt-match-wrapper-width + 2*($ngtt-round-gutters);
  box-sizing: border-box !important;
}

.ngtt-se__match-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: $ngtt-match-wrapper-height + 2 * $ngtt-vertical-match-padding;
  width: $ngtt-match-wrapper-width + 2* $ngtt-round-gutters;
  padding: $ngtt-vertical-match-padding $ngtt-round-gutters;
  position: relative;
  box-sizing: border-box !important;
  // every bracket line
  &::after {
    display: flex;
    flex-grow: 1;
    right: 0;
    position: absolute;
    width: $ngtt-round-gutters;
    height: 50%;
    border-right: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    content: '';
    box-sizing: border-box !important;
  }

  &::before {
    display: flex;
    flex-grow: 1;
    left: 0;
    top: 50%;
    position: absolute;
    width: $ngtt-round-gutters;
    border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    content: '';
    box-sizing: border-box !important;
  }

  &:nth-child(odd) {
    &::after {
      top: 50%;
      border-top-right-radius: $ngtt-bracket-border-radius;
      border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    }
  }

  &:nth-child(even) {
    &::after {
      top: 0;
      border-bottom-right-radius: $ngtt-bracket-border-radius;
      border-bottom: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    }
  }

  &:first-child:last-child {
    &::after {
      display: none;
    }
  }

  .ngtt-se__round-wrapper:first-child > & {
    &::before {
      display: none;
    }
  }
}

//final match
.ngtt-se__finale-match-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  height: $ngtt-match-wrapper-height + 2 * $ngtt-vertical-match-padding;
  width: $ngtt-match-wrapper-width + 2* $ngtt-round-gutters;
  padding: $ngtt-vertical-match-padding $ngtt-round-gutters;
  position: relative;
  box-sizing: border-box !important;

  & > .ngtt-se__finale-component-container {
    display: block;
    height: $ngtt-match-wrapper-height;
    width: $ngtt-match-wrapper-width;
    background-color: $ngtt-match-container-background;
    margin-bottom: 2*$ngtt-vertical-match-padding;
  }

  &::before {
    display: flex;
    flex-grow: 1;
    left: 0;
    top: 50%;
    position: absolute;
    width: $ngtt-round-gutters;
    border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    content: '';
  }
}

