

.sidenav-container {
  height: 100%;
}

.app-sidenav {
  width: 200px;
  background-color: #333;
  color: white;
}

a {
  margin: 5px 0;

  mat-icon {
    margin-right: 15px;
  }
}

.collapse-sidenav {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.expand-sidenav {
  position: absolute;
  top: 30px;
  right: 13px;
  cursor: pointer;
}

h1 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
table {
  margin-left: -35%;
  width: 200%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.input-group {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่ม drop shadow ด้านล่าง */
  border-radius: 8px; /* เพิ่มขอบโค้งสำหรับเงามีลักษณะธรรมชาติ */
  transition: box-shadow 0.3s ease, border-color 0.3s ease; /* เพิ่ม transition เมื่อเปลี่ยนแปลง */
  border: 2px solid rgb(225, 119, 235); /* เพิ่มสี border */
}

.input-group:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* สำหรับเมื่อนำเมาส์มา hover */

}


//
// COLORS
//

$ngtt-background-primary: #2B3E50;
$ngtt-accent-primary: goldenrod;
$ngtt-background-secondary: rgb(0 110 255 / 43%);


//
// NgttTournament Tree Configuration
//

// tournament tree colors
$ngtt-background-color: $ngtt-background-primary !default;
$ngtt-line-color-main: $ngtt-accent-primary !default;
$ngtt-bracket-separator-color: $ngtt-background-secondary !default;
$ngtt-match-container-background: $ngtt-background-secondary;

//tree scaling
$ngtt-match-wrapper-width: 350px !default;
$ngtt-match-wrapper-height: 100px !default;
$ngtt-vertical-match-padding: 15px !default;
$ngtt-round-gutters: 25px !default;
$ngtt-bracket-border-radius: 0 !default;
$ngtt-bracket-line-width: 2px !default;


.ngtt-se__container {
  background-color: $ngtt-background-color;
  display: inline-block;
  box-sizing: border-box !important;
}

.ngtt-se__match-component-container {
  display: flex;
  height: $ngtt-match-wrapper-height;
  width: $ngtt-match-wrapper-width;
  background-color: $ngtt-match-container-background;
  border-radius: 5px;
  box-sizing: border-box !important;
}

// winners bracket
.ngtt-se__bracket-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box !important;
}

.ngtt-se__round-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: $ngtt-match-wrapper-width + 2*($ngtt-round-gutters);
  box-sizing: border-box !important;
}

.ngtt-se__match-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: $ngtt-match-wrapper-height + 2 * $ngtt-vertical-match-padding;
  width: $ngtt-match-wrapper-width + 2* $ngtt-round-gutters;
  padding: $ngtt-vertical-match-padding $ngtt-round-gutters;
  position: relative;
  box-sizing: border-box !important;
  // every bracket line
  &::after {
    display: flex;
    flex-grow: 1;
    right: 0;
    position: absolute;
    width: $ngtt-round-gutters;
    height: 50%;
    border-right: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    content: '';
    box-sizing: border-box !important;
  }

  &::before {
    display: flex;
    flex-grow: 1;
    left: 0;
    top: 50%;
    position: absolute;
    width: $ngtt-round-gutters;
    border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    content: '';
    box-sizing: border-box !important;
  }

  &:nth-child(odd) {
    &::after {
      top: 50%;
      border-top-right-radius: $ngtt-bracket-border-radius;
      border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    }
  }

  &:nth-child(even) {
    &::after {
      top: 0;
      border-bottom-right-radius: $ngtt-bracket-border-radius;
      border-bottom: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    }
  }

  &:first-child:last-child {
    &::after {
      display: none;
    }
  }

  .ngtt-se__round-wrapper:first-child > & {
    &::before {
      display: none;
    }
  }
}

//final match
.ngtt-se__finale-match-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  height: $ngtt-match-wrapper-height + 2 * $ngtt-vertical-match-padding;
  width: $ngtt-match-wrapper-width + 2* $ngtt-round-gutters;
  padding: $ngtt-vertical-match-padding $ngtt-round-gutters;
  position: relative;
  box-sizing: border-box !important;

  & > .ngtt-se__finale-component-container {
    display: block;
    height: $ngtt-match-wrapper-height;
    width: $ngtt-match-wrapper-width;
    background-color: $ngtt-match-container-background;
    margin-bottom: 2*$ngtt-vertical-match-padding;
  }

  &::before {
    display: flex;
    flex-grow: 1;
    left: 0;
    top: 50%;
    position: absolute;
    width: $ngtt-round-gutters;
    border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    content: '';
  }
}



///aelrt
.alert {
  min-height: 67px;
  width: 560px;
  max-width: 90%;
  border-radius: 12px;
  padding: 16px 22px 17px 20px;
  display: flex;
  align-items: center;
}
.alert-warning {
  background: #f2a600;
}
.alert-success {
  background: #12c99b;
}
.alert-primary {
  background:#0676ed;
}
.alert-dark {
  background: #151a30;
}
.alert-error {
  background:  #e41749;
}

.alert .icon__wrapper {

  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.253);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert .icon__wrapper span {
  font-size: 21px;
  color: #fff;
}
.alert p {
  color: #fff;
  font-family: Verdana;
  margin-left: 10px;
}
.alert p a,
.alert p a:visited,
.alert p a:active {
  color: #fff;
}
.alert .open {
  margin-left: auto;
  margin-right: 5px;
}
.alert .close, .alert .open {
  color: #fff;
  transition: transform 0.5s;
  font-size: 18px;
  cursor: pointer;
}
.alert .close:hover, .alert .open:hover {
  transform: scale(1.3);
}
.rankM{
  background: #fff0fe;
  min-width: 350px;
  max-width: 450px;
  max-height: 450px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rankM .listP{
  // background: #939393;
  margin-left: 20px;
  text-align: center;
  //
  // border-radius: 10% 25%;
  // padding: 5px
}

.rankM .imgrank{
  position: relative;
  width:  80px;
  height: 80px;
  border-radius: 25% 10%;
  overflow: hidden;
}
.rankM .imgrank img{
  position: absolute;
  top :0;
  left: 0;
  width:  100%;
  height: 100%;
  object-fit: cover;
}

.rankS{
  background: #fff0fe;
  min-width: 350px;
  max-width: 450px;
  max-height: 450px;
  margin-bottom: 10px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rankS .listP{
  // background: #939393;
  margin-left: 20px;
  text-align: center;
  //
  // border-radius: 10% 25%;
  // padding: 5px
}
.rankS .ih2 h2{
  background-color: gainsboro;
  padding: 20px;
  border-radius: 25% 10%;
}

.rankS .imgrank{
  position: relative;
  width:  80px;
  height: 80px;
  border-radius: 25% 10%;
  overflow: hidden;
}
.rankS .imgrank img{
  position: absolute;
  top :0;
  left: 0;
  width:  100%;
  height: 100%;
  object-fit: cover;
}


// @media (max-width: 768px) { /* For smaller screens (e.g., tablets) */
//   .input-group-text {
//     font-size: 1rem; /* Smaller font size for tablets */
//   }
// }

// @media (max-width: 480px) { /* For even smaller screens (e.g., phones) */
//   .input-group-text {
//     font-size: 0.8rem; /* Even smaller font size for phones */
//   }
// }
@media (max-width: 768px) { /* For smaller screens (e.g., tablets) */
    .ad {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .ed {
      grid-template-columns: repeat(1, 1fr);
    }
    .start{
      align-self: self-start;
    }
    // .input-group-text {
    //       font-size: 1rem; /* Smaller font size for tablets */
    //     }
  }




