<mat-toolbar class="fxLayout dark" style="width: 100%;height: 80px;flex-direction: row; justify-content: space-between;background-color: black ;color:ghostwhite;">
  <div class="fxLayout" style="flex-direction: row; align-items: center;">
    <mat-icon>shopping_bag</mat-icon>
    <span>&nbsp;BeefBeef</span>
  </div>
  <div class="fxLayout" style="flex-direction: row;align-items: center;">
    <mat-icon>home_app_logo</mat-icon>
    <button mat-flat-button style="background-color: black;color: ghostwhite;">Home</button>
  </div>
  <div class="fxLayout" style="flex-direction: row;align-items: center;">
    <mat-icon>apps</mat-icon>
    <button mat-flat-button [matMenuTriggerFor]="menu33333" style="background-color: black;color: ghostwhite;">Type Product</button>
    <mat-menu #menu33333="matMenu">
      <button (click)="findid(1)">กับข้าว</button>
      <button mat-menu-item ><a href="/blackpanther">ของหวาน</a></button>

      <!-- <button mat-menu-item [routerLink]="['/movie',{outlets:{mov:['blackadam']}}]">Black Adam</button>
      <button mat-menu-item [routerLink]="['/movie',{outlets:{mov:['blackpanther']}}]">Black Panther</button> -->
      <button mat-menu-item routerLink="/endgame">อาหารจารเดี่ยว</button>
      <button mat-menu-item routerLink="/endgame">ของกินเล่น</button>
    </mat-menu>
    <mat-icon>payments</mat-icon>
    <button mat-flat-button style="background-color: black;color: ghostwhite;">payments</button>
    <mat-icon >logout</mat-icon>
    <button mat-flat-button style="background-color: black;color: ghostwhite;">Log out</button>

  </div>
</mat-toolbar>
