

.sidenav-container {
  height: 100%;
}

.app-sidenav {
  width: 200px;
  background-color: #333;
  color: white;
}

a {
  margin: 5px 0;

  mat-icon {
    margin-right: 15px;
  }
}

.collapse-sidenav {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.expand-sidenav {
  position: absolute;
  top: 30px;
  right: 13px;
  cursor: pointer;
}

h1 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
table {
  margin-left: -35%;
  width: 200%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

