<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REsetpassTDK</title>
</head>
<body>
<div class="box">
  <span class="borderLi"></span>
    <form>
      <img  style="margin-left: 130px;margin-top: -15px;margin-bottom: 5px;" src="https://sv1.picz.in.th/images/2023/11/13/d0WJA59.png" alt="d0WJA59.png" width="100px"  />
      <h2 style="margin-top: 15px;">New password</h2>
      <br>
      <p  style="margin-left: 10px;color: #fff;">Enter your password and please try login in again</p>
      <br>
        <div class="fxLayout" style="flex-direction: column;justify-content: center;width: 100%;">
          <mat-form-field appearance="outline"color="accent"  >
            <mat-label>Password</mat-label>
            <input #re1 matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="outline"color="accent"  >
            <mat-label>RE-Password</mat-label>
            <input #re2 matInput type="text">
          </mat-form-field>

      </div>
        <mat-card-actions class="fxLayout" style="flex-direction: row; justify-content: center; margin-top: 10px">
          <button mat-flat-button color="primary" style="width: 50%;" (click)="login()">Set Password</button>
        </mat-card-actions>


    </form>
</div>
</body>
</html>

