
<div class="card" *ngFor="let user of this.user1"  style="width: 90%; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  margin: 20px; flex-wrap: wrap;align-items: center;background-color: #BC7FCD;">
  <div style="font-size: 1.5em; font-weight: bold; margin-bottom: 10px; letter-spacing: 0.1em;">
    <h3>Profile</h3>
  </div>
  <br>
  <div style="display: flex; flex-wrap: wrap;flex-direction: column;place-content: ceter; width: 100%;">
    <div style=" margin-bottom: 10px;">
      <h5>ID: {{user.user_id}}</h5>
    </div>
    <div style=" margin-bottom: 10px;">
      <h5>Name: {{user.fullName}}</h5>
    </div>

    <div style=" margin-bottom: 10px;">
      <h5>Date of birth: {{ calculateAge(user.brithday) }}</h5>
    </div>
    <div style=" margin-bottom: 10px;">
      <h5>Gender:  {{user.gender}}</h5>
    </div>
    <div style=" margin-bottom: 10px;">
      <h5>Tel: {{user.phoneNumber}}</h5>
    </div>
    <div style=" margin-bottom: 10px;width: 100%;">
      <h5>Email: {{user.email}}</h5>

    </div>
  </div>
  <hr color="#fff" width="80%" size="5">

  <div>
    <h5>History</h5>
  </div>

  <div style="display: flex; flex-wrap: wrap;">
    <div style="flex: 1 1 50%; margin-bottom: 10px;">
      <h5>sadasd</h5>
    </div>
    <div style="flex: 1 1 50%; margin-bottom: 10px;">
      <h5>sadasd</h5>
    </div>
    <div style="flex: 1 1 50%; margin-bottom: 10px;">
      <h5>sadasd</h5>
    </div>
    <div style="flex: 1 1 50%; margin-bottom: 10px;">
      <h5>sadasd</h5>
    </div>
  </div>
</div>
