<div  class="fxLayout" style="width: 100%;height: 100%; flex-direction: row;justify-content: center;align-items: center;background-image: url(https://t4.ftcdn.net/jpg/02/52/67/21/360_F_252672122_49xBbP41oPAhK1tupRE8ixnnyXlOmngg.jpg);background-size: cover;">
  <mat-card class="example-card" style="width: 500px;background-color: rgb(205, 40, 255);border:5px solid rgb(2, 255, 255); padding:5px;">
    <mat-card-header class="fxLayout" style="justify-content: center;flex-direction: row;align-items: center;">
      <div mat-card-avatar class="example-header-image" ></div>
      <mat-card-title> <span  class="fxLayout" style="align-items: center;font-size: 24px;color: #00ffff;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>login</mat-icon>&nbsp;Login</span><br></mat-card-title>

      <mat-card-subtitle style="color: #00ffff;">Please enter email and passs</mat-card-subtitle>
    </mat-card-header>


  <div class="fxLayout" style="margin-top: 10px; flex-direction: row;justify-content: center;">
    <div class="fxLayout" style="flex-direction: column;justify-content: center;width: 400px;">
      <mat-form-field appearance="outline"color="accent"  >
        <mat-label>ID</mat-label>
        <input #ID1 matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Password</mat-label>
        <input #pass matInput type="password">
      </mat-form-field>

    </div>
  </div>
    <mat-card-actions class="fxLayout" style="flex-direction: row; justify-content: center; ">
      <!-- <button mat-flat-button>Sign Up</button> -->
      <button mat-flat-button color="warn" (click)="go(ID1.value,pass.value)">Login</button>
    </mat-card-actions>
  </mat-card>

</div>

